# Database passwords - env variables, used also in docker-compose.yml, alembic.ini
# !! These passwords must be set in new environment, otherwise the app will not work !!
#
#         DB_PASSWORD=${DB_PASSWORD}              - postgres root password, used in docker-compose.yml, alembic.ini
# DB_ALEMBIC_PASSWORD=${DB_ALEMBIC_PASSWORD}      - alembic password, used in alembic.ini
#     DB_APP_PASSWORD=${DB_APP_PASSWORD}          - app password, used in docker-compose.yml, runs the scripts/app
#  DB_CLAUDE_PASSWORD=${DB_CLAUDE_PASSWORD}       - readonly password, to be used in MCP
# DB_TRADING_PASSWORD=${DB_TRADING_PASSWORD}      - trading password, used in docker-compose.yml, runs the trading

EODHD_API_KEY=

