# Database passwords - env variables, used also in docker-compose.yml, alembic.ini
# !! These passwords must be set in new environment, otherwise the app will not work !!
#
#         DB_PASSWORD=${DB_PASSWORD}
# DB_ALEMBIC_PASSWORD=${DB_ALEMBIC_PASSWORD}
#     DB_APP_PASSWORD=${DB_APP_PASSWORD}
# DB_TRADING_PASSWORD=${DB_TRADING_PASSWORD}

EODHD_API_KEY=

